.part-card:hover:not(.locked):not(.selected) .part-thumbnail {
  box-shadow: inset 1px 0 0 0 var(--accent-green),
              inset 0 1px 0 0 var(--accent-green),
              inset 0 -1px 0 0 var(--accent-green);
}
